<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Marca</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
   
</head>
<body>
    <div class="container">
            <h1 class="titulo">Ingreso de datos de la Marca</h1>
            <form method="POST" action="guardarCategoria">
                    {% csrf_token %}

                <div class="form-group">
                    <label  for="idMarca">ID Marca</label>
                    <input type="number" name="idMarca" id="idMarca" class="form-control">
                </div>

                <div class="form-group">
                    <label class="cat" for="nombreMarca">Nombre Marca</label>
                    <input type="text" name="nombreMarca" id="nombreMarca" class="form-control">
                </div>

                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn-primary">
                    <input type="reset" value="Limpiar" class="btn-primary">
                    <label class="ingresar"><a href="/formN">Agregar un nuevo modelo</a></label>
                </div>

            </form>
    </div>






    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>    

</body>
</html>
